<input type="hidden" value="2" name="_user_level_val">
<script type="text/javascript" language="javascript" src="/assets/site1/js/15961746.js">
</script>
<script type="text/javascript" language="javascript" src="/assets/site1/js/159349942.js">
</script>
<script type="text/javascript" language="javascript">
    //js版本url生成函数
    var webmodel = {};

    wp_pages_global_func($.extend({
                'isedit': '0',
                'islogin': '0',
                'domain': 'tpl-c325d7b',
                'p_rooturl': 'https://agriculture-448.view.websiteonline.cn',
                'static_rooturl': 'https://static.websiteonline.cn/website',
                'interface_locale': "zh_CN",
                'dev_mode': "0",
                'getsession': ''
            },
            {
                "phpsessionid": "",
                "punyurl": "https:\/\/agriculture-448.view.websiteonline.cn",
                "curr_locale": "zh_CN",
                "mscript_name": "",
                "converted": false
            }));
</script>
<link href="/assets/site1/css/e89a0fc420c913919e72fc7d4d43bcfc.css" rel="stylesheet">
<div id="page_set_css">
</div>
<input type="hidden" id="page_id" name="page_id" value="109" rpid="109">
<div id="scroll_container" class="scroll_contain" style="">
    <div id="scroll_container_bg" style=";">
        &nbsp;
    </div>
    <script>
        initScrollcontainerHeight();
    </script>
    <div id="overflow_canvas_container">
        <div id="canvas" style=" margin: 0 auto;width:1200px;;height:1290px">
            {include file="common/menu" /}
            <script>
                $(".content_copen").live('click',
                        function() {
                            $(this).closest(".full_column").hide();
                        });
                var $fullwidth = $('#layerE824EBBF7C74E7D061015D13611C18B2 .full_width');
                $fullwidth.css({
                    left: 0 - $('#canvas').offset().left + $('#scroll_container').offset().left - $('#scroll_container').scrollLeft() - $.parseInteger($('#canvas').css("borderLeftWidth")),
                    width: $('#scroll_container_bg').width()
                });
                $(function() {
                    var videoParams = {
                        "id": "layerE824EBBF7C74E7D061015D13611C18B2",
                        "bgauto": null,
                        "ctauto": null,
                        "bVideouse": null,
                        "cVideouse": null,
                        "bgvHeight": null,
                        "bgvWidth": null
                    };
                    fullcolumn_bgvideo_init_func(videoParams);
                });
            </script>
            <div id='layerD2D598B2CB4FB3EEFBF5BF4F80DBB520' type='unslider' class='cstlayer'
                 style='left: 0px; top: 101px; position: absolute; z-index: 111; width: 1200px; height: 400px; opacity: 1;'
                 mid="" deg='0'>
                <style>
                    #layerD2D598B2CB4FB3EEFBF5BF4F80DBB520html5zoo-1{ margin:0 auto; }
                </style>
                <div id="layerD2D598B2CB4FB3EEFBF5BF4F80DBB520_content" class="wp-unslider_content"
                     style="overflow: hidden; border: none; left: -351.5px; width: 1903px; height: 400px; position: absolute;">
                    <script type="text/javascript">
                    </script>
                    <!-- loop star -->
                    <div id="layerD2D598B2CB4FB3EEFBF5BF4F80DBB520html5zoo-1">
                        <ul class="html5zoo-slides" style="display:none;">
                            <li>
                                <img alt="" src="/assets/site1/picture/bann4.jpg" class="html5lightbox">
                            </li>
                            <li>
                                <img alt="" src="/assets/site1/picture/bann7.jpg" class="html5lightbox">
                            </li>
                            <li>
                                <img alt="" src="/assets/site1/picture/bann5.jpg" class="html5lightbox">
                            </li>
                        </ul>
                    </div>
                    <!-- loop end -->
                    <script language="javascript">
                        (function() {
                            var layerparams = {
                                "layerid": "layerD2D598B2CB4FB3EEFBF5BF4F80DBB520",
                                "pstyle": "none",
                                "plborder_size": "0",
                                "interval": 5000,
                                "autoplays": "true",
                                "title_size": "40",
                                "title_family": "SimSun",
                                "title_color": "#FFFFFF",
                                "easing": "fade",
                                "show_title": "1",
                                "show_nav": "0",
                                "navigation_style": "03",
                                "navbg_hover_color": "#6aa84f",
                                "nav_margin_bottom_size": "25",
                                "nav_arrow": "1",
                                "arrow_left": "template\/default\/images\/left_arrow.png",
                                "arrow_right": "template\/default\/images\/right_arrow.png",
                                "nav_margin_left_size": "25",
                                "nav_margin_right_size": "25",
                                "skin": "02",
                                "default_show": "1",
                                "hover_show": "0",
                                "pauseonmouseover": "0",
                                "nav_arrow_w_size": "32",
                                "nav_arrow_h_size": "32"
                            };
                            layer_unslider_init_func(layerparams);
                        })()
                    </script>
                </div>
            </div>
            <script>
                $('#layerD2D598B2CB4FB3EEFBF5BF4F80DBB520').triggerHandler('layer_ready');
            </script>
            <div id="layer5AD052AFB4CC6FA6959A84A754CC13C8" class="full_column" style="width:1200px;position:absolute;top:500px;height:50px;z-index:105;">
                <div class="full_width" style="position:absolute;height:50px;background-color:#f4f4f4;background:;">
                </div>
                <div class="full_content" style="width:1200px; position:absolute;left:0;top:0;margin-left: 0px;;height:50px;">
                    <div id='layerCE79A2D2A91E9FDCE7B2444FA65A06EB' type='breadcrumb' class='cstlayer'
                         style='left: 14px; top: 16px; position: absolute; z-index: 117; width: 561px; height: 23px;'
                         mid="" fatherid='layer5AD052AFB4CC6FA6959A84A754CC13C8' deg='0'>
                        <div class="wp-breadcrumb_content" style="width: 561px; height: 23px;">
                            <div class='breadcrumb_plugin'>
								<span class="breadcrumbtext" gzdata="gzorder">
									<a href="index.html" style="line-height:100%;color: rgb(0, 0, 0); font-size: 14px; line-height: 120%; font-family: Microsoft YaHei; font-weight: bold;">
                                        网站首页
                                    </a>
								</span>
								<span style="line-height:100%; margin-left:5px;margin-right:5px;color:rgb(67, 67, 67);font-size:12px;"
                                      class="breadcrumbfuhao">
									⊙
								</span>
								<span class="breadcrumbtext">
									<a href="" style="line-height:100%;color: rgb(0, 0, 0); font-size: 14px; line-height: 120%; font-family: Microsoft YaHei; font-weight: bold;">
                                        联系我们
                                    </a>
								</span>
                            </div>
                        </div>
                        <script>
                            layer_breadcrumb_ready_func('layerCE79A2D2A91E9FDCE7B2444FA65A06EB', '');
                        </script>
                    </div>
                    <script>
                        $('#layerCE79A2D2A91E9FDCE7B2444FA65A06EB').triggerHandler('layer_ready');
                    </script>
                </div>
            </div>
            <script>
                $(".content_copen").live('click',
                        function() {
                            $(this).closest(".full_column").hide();
                        });
                var $fullwidth = $('#layer5AD052AFB4CC6FA6959A84A754CC13C8 .full_width');
                $fullwidth.css({
                    left: 0 - $('#canvas').offset().left + $('#scroll_container').offset().left - $('#scroll_container').scrollLeft() - $.parseInteger($('#canvas').css("borderLeftWidth")),
                    width: $('#scroll_container_bg').width()
                });
                $(function() {
                    var videoParams = {
                        "id": "layer5AD052AFB4CC6FA6959A84A754CC13C8",
                        "bgauto": null,
                        "ctauto": null,
                        "bVideouse": null,
                        "cVideouse": null,
                        "bgvHeight": null,
                        "bgvWidth": null
                    };
                    fullcolumn_bgvideo_init_func(videoParams);
                });
            </script>
            <div id='layer168A0DBA8028BD650BE1F7C6EF476313' type='box' class='cstlayer'
                 style='left: 0px; top: 570px; position: absolute; z-index: 139; width: 1200px; height: 720px;'
                 mid="" deg='0'>
                <div class="wp-box_content drop_box" style="word-wrap: break-word; padding: 0px; border-color: rgb(221, 221, 221); border-width: 1px; height: 718px; background-color: rgb(255, 255, 255); width: 1198px; border-style: solid;">
                    <div id='layer030D9E5BB47F875266267DAC88D801AC' type='picture_hover' class='cstlayer'
                         style='left: 400px; top: 420px; position: absolute; z-index: 102; width: 92px; height: 92px;'
                         mid="" fatherid='layer168A0DBA8028BD650BE1F7C6EF476313' deg='0'>
                        <div class="wp-picture_hover_content" style="overflow: hidden; border-color: transparent; border-width: 0px; width: 92px; height: 92px; border-style: solid; padding: 0px;">
                            <div class="st-slidecontent" id="layer030D9E5BB47F875266267DAC88D801AC_stslider">
                                <script type="text/javascript">
                                </script>
                                <!-- MAIN CONTENT -->
                                <div class="imgloading" style="z-index:100;">
                                </div>
                                <div class="main-pichover-content layer030D9E5BB47F875266267DAC88D801AC">
                                    <div class="worksbox" id="worksbox0">
                                        <a href="#">
                                            <p class="phbox">
                                                <img class="img_lazy_load phfront" data-original="/assets/site1/picture/x2.png"
                                                     src="/assets/site1/picture/blank.gif" alt="">
                                                <img class="phback" src="/assets/site1/picture/x21.png" alt="">
                                            </p>
                                        </a>
                                    </div>
                                </div>
                                <script type="text/javascript">
                                    $(function() {
                                        var boxh = parseInt('92'),
                                                boxw = parseInt('92'),
                                                speed = parseInt('300');
                                        $('.layer030D9E5BB47F875266267DAC88D801AC #worksbox0 .phbox').bind('mouseenter mouseleave',
                                                function(e) {
                                                    var etype = e.type,
                                                            etarget = $('img.' + ((etype == 'mouseenter') ? 'phfront': 'phback'), this);
                                                    switch ('updown_slide') {
                                                        case 'updown_slide':
                                                            if ($('img', this).is(':animated')) $('img', this).stop();
                                                            var topval = (etype == 'mouseenter') ? boxh: (0 - boxh);
                                                            etarget.animate({
                                                                        top: topval + 'px'
                                                                    },
                                                                    speed).siblings('img').animate({
                                                                        top: '0px'
                                                                    },
                                                                    speed);
                                                            break;
                                                        case 'leftright_slide':
                                                            if ($('img', this).is(':animated')) $('img', this).stop();
                                                            var leftval = (etype == 'mouseenter') ? boxw: (0 - boxw);
                                                            etarget.animate({
                                                                        left: leftval + 'px'
                                                                    },
                                                                    speed).siblings('img').animate({
                                                                        left: '0px'
                                                                    },
                                                                    speed);
                                                            break;
                                                        case 'rollover':
                                                            if ($('img', this).is(':animated')) $('img', this).stop();
                                                            etarget.animate({
                                                                        height: 0,
                                                                        top: (boxh / 2) + 'px'
                                                                    },
                                                                    speed, '',
                                                                    function() {
                                                                        $(this).siblings('img').animate({
                                                                                    height: boxh + 'px',
                                                                                    top: 0
                                                                                },
                                                                                speed);
                                                                    });
                                                            break;
                                                        case 'magnify':
                                                            if ($('img', this).is(':animated')) $('img', this).stop();
                                                            var _target = etarget,
                                                                    params = {};
                                                            if (etype == 'mouseenter') {
                                                                _target = etarget.next('img.phback');
                                                                params = {
                                                                    "top": "0px",
                                                                    "left": "0px",
                                                                    "height": boxh + 'px',
                                                                    "width": boxw + 'px'
                                                                };
                                                            } else {
                                                                params = {
                                                                    "top": (boxh / 2) + "px",
                                                                    "left": (boxw / 2) + "px",
                                                                    "height": '0px',
                                                                    "width": '0px'
                                                                };
                                                            }
                                                            _target.css("z-index", '2').animate(params, speed);
                                                            break;
                                                        default:
                                                            etarget.hide().siblings('img').show();
                                                            break;
                                                    }
                                                });
                                        // 取消（每行）最右边图片容器的内右边距(bug#4396)
                                        if ($._parseFloat("0") > 0) {
                                            var $B = $('#layer030D9E5BB47F875266267DAC88D801AC .worksbox'),
                                                    bp = [];
                                            if (bp.length > 0) for (var i in bp) $B.filter(':eq(' + bp[i] + ')').addClass("linend");
                                            else $B.filter(':last').addClass("linend");
                                            bp = $B = null;
                                        }
                                    });
                                </script>
                            </div>
                            <script language="javascript">
                                function stint(numStr) {
                                    var number = parseInt(numStr);
                                    if (isNaN(number)) return 0;
                                    return number;
                                }
                                function stpicture_hover_padborder(dom) {
                                    var plus = new Object(),
                                            $cstlayer = dom;
                                    var bordw = stint($cstlayer.css('borderLeftWidth')) + stint($cstlayer.css('borderRightWidth')),
                                            bordh = stint($cstlayer.css('borderTopWidth')) + stint($cstlayer.css('borderBottomWidth')),
                                            padw = stint($cstlayer.css('padding-left')) + stint($cstlayer.css('padding-right')),
                                            padh = stint($cstlayer.css('padding-top')) + stint($cstlayer.css('padding-bottom'));
                                    // Assign
                                    plus.width = bordw + padw;
                                    plus.height = bordh + padh;
                                    $cstlayer = bordw = bordh = padw = padh = null;
                                    return plus;
                                }
                                function setpicture_hover_link(url, target) {
                                    if ($.trim(url) == '#') return false;
                                    parent.window.open(url, target);
                                }
                            </script>
                        </div>
                    </div>
                    <script>
                        $('#layer030D9E5BB47F875266267DAC88D801AC').triggerHandler('layer_ready');
                    </script>
                    <div id='layer22FF8D773A73CCF04D00F8669B2011A1' type='picture_hover' class='cstlayer'
                         style='left: 700px; top: 420px; position: absolute; z-index: 103; width: 92px; height: 92px;'
                         mid="" fatherid='layer168A0DBA8028BD650BE1F7C6EF476313' deg='0'>
                        <div class="wp-picture_hover_content" style="overflow: hidden; border-color: transparent; border-width: 0px; width: 92px; height: 92px; border-style: solid; padding: 0px;">
                            <div class="st-slidecontent" id="layer22FF8D773A73CCF04D00F8669B2011A1_stslider">
                                <script type="text/javascript">
                                </script>
                                <!-- MAIN CONTENT -->
                                <div class="imgloading" style="z-index:100;">
                                </div>
                                <div class="main-pichover-content layer22FF8D773A73CCF04D00F8669B2011A1">
                                    <div class="worksbox" id="worksbox0">
                                        <a href="#">
                                            <p class="phbox">
                                                <img class="img_lazy_load phfront" data-original="/assets/site1/picture/x3.png"
                                                     src="/assets/site1/picture/blank.gif" alt="">
                                                <img class="phback" src="/assets/site1/picture/x31.png" alt="">
                                            </p>
                                        </a>
                                    </div>
                                </div>
                                <script type="text/javascript">
                                    $(function() {
                                        var boxh = parseInt('92'),
                                                boxw = parseInt('92'),
                                                speed = parseInt('300');
                                        $('.layer22FF8D773A73CCF04D00F8669B2011A1 #worksbox0 .phbox').bind('mouseenter mouseleave',
                                                function(e) {
                                                    var etype = e.type,
                                                            etarget = $('img.' + ((etype == 'mouseenter') ? 'phfront': 'phback'), this);
                                                    switch ('updown_slide') {
                                                        case 'updown_slide':
                                                            if ($('img', this).is(':animated')) $('img', this).stop();
                                                            var topval = (etype == 'mouseenter') ? boxh: (0 - boxh);
                                                            etarget.animate({
                                                                        top: topval + 'px'
                                                                    },
                                                                    speed).siblings('img').animate({
                                                                        top: '0px'
                                                                    },
                                                                    speed);
                                                            break;
                                                        case 'leftright_slide':
                                                            if ($('img', this).is(':animated')) $('img', this).stop();
                                                            var leftval = (etype == 'mouseenter') ? boxw: (0 - boxw);
                                                            etarget.animate({
                                                                        left: leftval + 'px'
                                                                    },
                                                                    speed).siblings('img').animate({
                                                                        left: '0px'
                                                                    },
                                                                    speed);
                                                            break;
                                                        case 'rollover':
                                                            if ($('img', this).is(':animated')) $('img', this).stop();
                                                            etarget.animate({
                                                                        height: 0,
                                                                        top: (boxh / 2) + 'px'
                                                                    },
                                                                    speed, '',
                                                                    function() {
                                                                        $(this).siblings('img').animate({
                                                                                    height: boxh + 'px',
                                                                                    top: 0
                                                                                },
                                                                                speed);
                                                                    });
                                                            break;
                                                        case 'magnify':
                                                            if ($('img', this).is(':animated')) $('img', this).stop();
                                                            var _target = etarget,
                                                                    params = {};
                                                            if (etype == 'mouseenter') {
                                                                _target = etarget.next('img.phback');
                                                                params = {
                                                                    "top": "0px",
                                                                    "left": "0px",
                                                                    "height": boxh + 'px',
                                                                    "width": boxw + 'px'
                                                                };
                                                            } else {
                                                                params = {
                                                                    "top": (boxh / 2) + "px",
                                                                    "left": (boxw / 2) + "px",
                                                                    "height": '0px',
                                                                    "width": '0px'
                                                                };
                                                            }
                                                            _target.css("z-index", '2').animate(params, speed);
                                                            break;
                                                        default:
                                                            etarget.hide().siblings('img').show();
                                                            break;
                                                    }
                                                });
                                        // 取消（每行）最右边图片容器的内右边距(bug#4396)
                                        if ($._parseFloat("0") > 0) {
                                            var $B = $('#layer22FF8D773A73CCF04D00F8669B2011A1 .worksbox'),
                                                    bp = [];
                                            if (bp.length > 0) for (var i in bp) $B.filter(':eq(' + bp[i] + ')').addClass("linend");
                                            else $B.filter(':last').addClass("linend");
                                            bp = $B = null;
                                        }
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                    <script>
                        $('#layer22FF8D773A73CCF04D00F8669B2011A1').triggerHandler('layer_ready');
                    </script>
                    <div id='layerDB3F6B1700D6D21FBF534C7EE0F733C8' type='picture_hover' class='cstlayer'
                         style='left: 1000px; top: 420px; position: absolute; z-index: 104; width: 92px; height: 92px;'
                         mid="" fatherid='layer168A0DBA8028BD650BE1F7C6EF476313' deg='0'>
                        <div class="wp-picture_hover_content" style="overflow: hidden; border-color: transparent; border-width: 0px; width: 92px; height: 92px; border-style: solid; padding: 0px;">
                            <div class="st-slidecontent" id="layerDB3F6B1700D6D21FBF534C7EE0F733C8_stslider">
                                <script type="text/javascript">
                                </script>
                                <!-- MAIN CONTENT -->
                                <div class="imgloading" style="z-index:100;">
                                </div>
                                <div class="main-pichover-content layerDB3F6B1700D6D21FBF534C7EE0F733C8">
                                    <div class="worksbox" id="worksbox0">
                                        <a href="#">
                                            <p class="phbox">
                                                <img class="img_lazy_load phfront" data-original="/assets/site1/picture/x4.png"
                                                     src="/assets/site1/picture/blank.gif" alt="">
                                                <img class="phback" src="/assets/site1/picture/x41.png" alt="">
                                            </p>
                                        </a>
                                    </div>
                                </div>
                                <script type="text/javascript">
                                    $(function() {
                                        var boxh = parseInt('92'),
                                                boxw = parseInt('92'),
                                                speed = parseInt('300');
                                        $('.layerDB3F6B1700D6D21FBF534C7EE0F733C8 #worksbox0 .phbox').bind('mouseenter mouseleave',
                                                function(e) {
                                                    var etype = e.type,
                                                            etarget = $('img.' + ((etype == 'mouseenter') ? 'phfront': 'phback'), this);
                                                    switch ('updown_slide') {
                                                        case 'updown_slide':
                                                            if ($('img', this).is(':animated')) $('img', this).stop();
                                                            var topval = (etype == 'mouseenter') ? boxh: (0 - boxh);
                                                            etarget.animate({
                                                                        top: topval + 'px'
                                                                    },
                                                                    speed).siblings('img').animate({
                                                                        top: '0px'
                                                                    },
                                                                    speed);
                                                            break;
                                                        case 'leftright_slide':
                                                            if ($('img', this).is(':animated')) $('img', this).stop();
                                                            var leftval = (etype == 'mouseenter') ? boxw: (0 - boxw);
                                                            etarget.animate({
                                                                        left: leftval + 'px'
                                                                    },
                                                                    speed).siblings('img').animate({
                                                                        left: '0px'
                                                                    },
                                                                    speed);
                                                            break;
                                                        case 'rollover':
                                                            if ($('img', this).is(':animated')) $('img', this).stop();
                                                            etarget.animate({
                                                                        height: 0,
                                                                        top: (boxh / 2) + 'px'
                                                                    },
                                                                    speed, '',
                                                                    function() {
                                                                        $(this).siblings('img').animate({
                                                                                    height: boxh + 'px',
                                                                                    top: 0
                                                                                },
                                                                                speed);
                                                                    });
                                                            break;
                                                        case 'magnify':
                                                            if ($('img', this).is(':animated')) $('img', this).stop();
                                                            var _target = etarget,
                                                                    params = {};
                                                            if (etype == 'mouseenter') {
                                                                _target = etarget.next('img.phback');
                                                                params = {
                                                                    "top": "0px",
                                                                    "left": "0px",
                                                                    "height": boxh + 'px',
                                                                    "width": boxw + 'px'
                                                                };
                                                            } else {
                                                                params = {
                                                                    "top": (boxh / 2) + "px",
                                                                    "left": (boxw / 2) + "px",
                                                                    "height": '0px',
                                                                    "width": '0px'
                                                                };
                                                            }
                                                            _target.css("z-index", '2').animate(params, speed);
                                                            break;
                                                        default:
                                                            etarget.hide().siblings('img').show();
                                                            break;
                                                    }
                                                });
                                        // 取消（每行）最右边图片容器的内右边距(bug#4396)
                                        if ($._parseFloat("0") > 0) {
                                            var $B = $('#layerDB3F6B1700D6D21FBF534C7EE0F733C8 .worksbox'),
                                                    bp = [];
                                            if (bp.length > 0) for (var i in bp) $B.filter(':eq(' + bp[i] + ')').addClass("linend");
                                            else $B.filter(':last').addClass("linend");
                                            bp = $B = null;
                                        }
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                    <script>
                        $('#layerDB3F6B1700D6D21FBF534C7EE0F733C8').triggerHandler('layer_ready');
                    </script>
                    <div id='layer410AD90B9F08C33B84BF05A39614B526' type='title' class='cstlayer'
                         style='left: 38px; top: 540px; position: absolute; z-index: 143; width: 220px; height: 30px;'
                         mid="" fatherid='layer168A0DBA8028BD650BE1F7C6EF476313' deg='0'>
                        <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 30px; width: 220px; display: block;">
                            <div style="text-align: center;">
								<span style="color: rgb(0, 0, 0); font-family: 微软雅黑; font-size: 16px; line-height: 200%;">
									<strong>
                                        地址
                                    </strong>
								</span>
                            </div>
                        </div>
                        <script type="text/javascript">
                            $(function() {
                                $('.wp-title_content').each(function() {
                                    if ($(this).find('div').attr('align') == 'justify') {
                                        $(this).find('div').css({
                                            'text-justify': 'inter-ideograph',
                                            'text-align': 'justify'
                                        });
                                    }
                                })
                            })
                        </script>
                    </div>
                    <script>
                        $('#layer410AD90B9F08C33B84BF05A39614B526').triggerHandler('layer_ready');
                    </script>
                    <div id='layerEBEA36267C4C90E2EB1BE969CEE6F314' type='title' class='cstlayer'
                         style='left: 340px; top: 540px; position: absolute; z-index: 144; width: 220px; height: 30px;'
                         mid="" fatherid='layer168A0DBA8028BD650BE1F7C6EF476313' deg='0'>
                        <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 30px; width: 220px; display: block;">
                            <div style="text-align: center;">
								<span style="color: rgb(0, 0, 0); font-family: 微软雅黑; font-size: 16px; line-height: 200%;">
									<strong>
                                        电话
                                    </strong>
								</span>
                            </div>
                        </div>
                    </div>
                    <script>
                        $('#layerEBEA36267C4C90E2EB1BE969CEE6F314').triggerHandler('layer_ready');
                    </script>
                    <div id='layer60BF8DB5153B9EDC70853F38BD90758E' type='baidumap' class='cstlayer'
                         style='left: 40px; top: 40px; position: absolute; z-index: 100; width: 1120px; height: 300px;'
                         mid="" fatherid='layer168A0DBA8028BD650BE1F7C6EF476313' deg='0'>
                        <script type="text/javascript">
                            $(document).ready(function() {
                                $('.lockmove').width(0).height(0);
                            });
                        </script>
                        <div class="wp-baidumap_content" style="width: 1120px; height: 300px; border-color: transparent; border-width: 0px; border-style: solid; padding: 0px; background-color: rgb(244, 244, 244);">
                            <div class="lockmove" style="width: 1120px; height: 300px; position: absolute;">
                            </div>
                            <!--<iframe src="baidu-layer60BF8DB5153B9EDC70853.html" frameborder="0" width="100%"-->
                                    <!--height="100%" scrolling="no" name="mapif" type="1">-->
                            <!--</iframe>-->
                        </div>
                    </div>
                    <script>
                        $('#layer60BF8DB5153B9EDC70853F38BD90758E').triggerHandler('layer_ready');
                    </script>
                    <div id='layer4DD36D057AB801F33CDA663DEE0124F3' type='title' class='cstlayer'
                         style='left: 638px; top: 540px; position: absolute; z-index: 145; width: 220px; height: 30px;'
                         mid="" fatherid='layer168A0DBA8028BD650BE1F7C6EF476313' deg='0'>
                        <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 30px; width: 220px; display: block;">
                            <div style="text-align: center;">
								<span style="color: rgb(0, 0, 0); font-family: 微软雅黑; font-size: 16px; line-height: 200%;">
									<strong>
                                        传真
                                    </strong>
								</span>
                            </div>
                        </div>
                    </div>
                    <script>
                        $('#layer4DD36D057AB801F33CDA663DEE0124F3').triggerHandler('layer_ready');
                    </script>
                    <div id='layer72D77BDC3A6721CD606A1F953D0E38FC' type='title' class='cstlayer'
                         style='left: 940px; top: 540px; position: absolute; z-index: 146; width: 220px; height: 30px;'
                         mid="" fatherid='layer168A0DBA8028BD650BE1F7C6EF476313' deg='0'>
                        <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 30px; width: 220px; display: block;">
                            <div style="text-align: center;">
								<span style="color: rgb(0, 0, 0); font-family: 微软雅黑; font-size: 16px; line-height: 200%;">
									<strong>
                                        邮箱
                                    </strong>
								</span>
                            </div>
                        </div>
                    </div>
                    <script>
                        $('#layer72D77BDC3A6721CD606A1F953D0E38FC').triggerHandler('layer_ready');
                    </script>
                    <div id='layerCB190099096240F97E266B49E58CA9A4' type='title' class='cstlayer'
                         style='left: 40px; top: 580px; position: absolute; z-index: 105; width: 220px; height: 55px;'
                         mid="" fatherid='layer168A0DBA8028BD650BE1F7C6EF476313' deg='0'>
                        <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 55px; width: 220px; display: block;">
                            <div style="text-align: center;">
								<span style="color: rgb(0, 0, 0); font-family: 微软雅黑; font-size: 14px; line-height: 200%;">
									{$site.address1}
								</span>
                            </div>
                        </div>
                    </div>
                    <script>
                        $('#layerCB190099096240F97E266B49E58CA9A4').triggerHandler('layer_ready');
                    </script>
                    <div id='layerE80E87AC85743100A6E8882F2F6232A5' type='title' class='cstlayer'
                         style='left: 340px; top: 580px; position: absolute; z-index: 106; width: 220px; height: 60px;'
                         mid="" fatherid='layer168A0DBA8028BD650BE1F7C6EF476313' deg='0'>
                        <div class="wp-title_content" style="overflow-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 60px; width: 220px; display: block;">
                            <p style="text-align: center; line-height: 16.8px;">
                                <font color="#000000" face="微软雅黑">
									<span style="line-height: 200%; font-size: 14px;">
										{$site.tel1}
									</span>
                                </font>
                            </p>
                        </div>
                    </div>
                    <script>
                        $('#layerE80E87AC85743100A6E8882F2F6232A5').triggerHandler('layer_ready');
                    </script>
                    <div id='layer929E853EE5BF7693D834E92F1FC68782' type='title' class='cstlayer'
                         style='left: 640px; top: 580px; position: absolute; z-index: 142; width: 220px; height: 60px;'
                         mid="" fatherid='layer168A0DBA8028BD650BE1F7C6EF476313' deg='0'>
                        <div class="wp-title_content" style="overflow-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 60px; width: 220px; display: block;">
                            <p style="text-align: center; line-height: 16.8px;">
                                <font color="#000000" face="微软雅黑">
									<span style="line-height: 200%; font-size: 14px;">
										{$site.cz1}
									</span>
                                </font>
                            </p>
                        </div>
                    </div>
                    <script>
                        $('#layer929E853EE5BF7693D834E92F1FC68782').triggerHandler('layer_ready');
                    </script>
                    <div id='layer2B45C4073E14C7E22E76F153CAD863F2' type='title' class='cstlayer'
                         style='left: 940px; top: 580px; position: absolute; z-index: 141; width: 220px; height: 32px;'
                         mid="" fatherid='layer168A0DBA8028BD650BE1F7C6EF476313' deg='0'>
                        <div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 32px; width: 220px; display: block;">
                            <div style="text-align: center;">
								<span style="color: rgb(0, 0, 0); font-family: 微软雅黑; font-size: 14px;">
									{$site.email}
								</span>
                            </div>
                        </div>
                    </div>
                    <script>
                        $('#layer2B45C4073E14C7E22E76F153CAD863F2').triggerHandler('layer_ready');
                    </script>
                    <div id='layer0E375DC75EDBB3F05EA5E37C515F885F' type='picture_hover' class='cstlayer'
                         style='left: 100px; top: 420px; position: absolute; z-index: 101; width: 92px; height: 92px;'
                         mid="" fatherid='layer168A0DBA8028BD650BE1F7C6EF476313' deg='0'>
                        <div class="wp-picture_hover_content" style="overflow: hidden; border-color: transparent; border-width: 0px; width: 92px; height: 92px; border-style: solid; padding: 0px;">
                            <div class="st-slidecontent" id="layer0E375DC75EDBB3F05EA5E37C515F885F_stslider">
                                <script type="text/javascript">
                                </script>
                                <!-- MAIN CONTENT -->
                                <div class="imgloading" style="z-index:100;">
                                </div>
                                <div class="main-pichover-content layer0E375DC75EDBB3F05EA5E37C515F885F">
                                    <div class="worksbox" id="worksbox0">
                                        <a href="#">
                                            <p class="phbox">
                                                <img class="img_lazy_load phfront" data-original="/assets/site1/picture/x1.png"
                                                     src="/assets/site1/picture/blank.gif" alt="">
                                                <img class="phback" src="/assets/site1/picture/x11.png" alt="">
                                            </p>
                                        </a>
                                    </div>
                                </div>
                                <script type="text/javascript">
                                    $(function() {
                                        var boxh = parseInt('92'),
                                                boxw = parseInt('92'),
                                                speed = parseInt('300');
                                        $('.layer0E375DC75EDBB3F05EA5E37C515F885F #worksbox0 .phbox').bind('mouseenter mouseleave',
                                                function(e) {
                                                    var etype = e.type,
                                                            etarget = $('img.' + ((etype == 'mouseenter') ? 'phfront': 'phback'), this);
                                                    switch ('updown_slide') {
                                                        case 'updown_slide':
                                                            if ($('img', this).is(':animated')) $('img', this).stop();
                                                            var topval = (etype == 'mouseenter') ? boxh: (0 - boxh);
                                                            etarget.animate({
                                                                        top: topval + 'px'
                                                                    },
                                                                    speed).siblings('img').animate({
                                                                        top: '0px'
                                                                    },
                                                                    speed);
                                                            break;
                                                        case 'leftright_slide':
                                                            if ($('img', this).is(':animated')) $('img', this).stop();
                                                            var leftval = (etype == 'mouseenter') ? boxw: (0 - boxw);
                                                            etarget.animate({
                                                                        left: leftval + 'px'
                                                                    },
                                                                    speed).siblings('img').animate({
                                                                        left: '0px'
                                                                    },
                                                                    speed);
                                                            break;
                                                        case 'rollover':
                                                            if ($('img', this).is(':animated')) $('img', this).stop();
                                                            etarget.animate({
                                                                        height: 0,
                                                                        top: (boxh / 2) + 'px'
                                                                    },
                                                                    speed, '',
                                                                    function() {
                                                                        $(this).siblings('img').animate({
                                                                                    height: boxh + 'px',
                                                                                    top: 0
                                                                                },
                                                                                speed);
                                                                    });
                                                            break;
                                                        case 'magnify':
                                                            if ($('img', this).is(':animated')) $('img', this).stop();
                                                            var _target = etarget,
                                                                    params = {};
                                                            if (etype == 'mouseenter') {
                                                                _target = etarget.next('img.phback');
                                                                params = {
                                                                    "top": "0px",
                                                                    "left": "0px",
                                                                    "height": boxh + 'px',
                                                                    "width": boxw + 'px'
                                                                };
                                                            } else {
                                                                params = {
                                                                    "top": (boxh / 2) + "px",
                                                                    "left": (boxw / 2) + "px",
                                                                    "height": '0px',
                                                                    "width": '0px'
                                                                };
                                                            }
                                                            _target.css("z-index", '2').animate(params, speed);
                                                            break;
                                                        default:
                                                            etarget.hide().siblings('img').show();
                                                            break;
                                                    }
                                                });
                                        // 取消（每行）最右边图片容器的内右边距(bug#4396)
                                        if ($._parseFloat("0") > 0) {
                                            var $B = $('#layer0E375DC75EDBB3F05EA5E37C515F885F .worksbox'),
                                                    bp = [];
                                            if (bp.length > 0) for (var i in bp) $B.filter(':eq(' + bp[i] + ')').addClass("linend");
                                            else $B.filter(':last').addClass("linend");
                                            bp = $B = null;
                                        }
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                    <script>
                        $('#layer0E375DC75EDBB3F05EA5E37C515F885F').triggerHandler('layer_ready');
                    </script>
                </div>
            </div>
            <script>
                $('#layer168A0DBA8028BD650BE1F7C6EF476313').triggerHandler('layer_ready');
            </script>
        </div>
    </div>