
<input type="hidden" value="2" name="_user_level_val">
<script type="text/javascript" language="javascript" src="/assets/site1/js/15961746.js"></script>
<script type="text/javascript" language="javascript" src="/assets/site1/js/159349942.js"></script>
<script type="text/javascript" language="javascript">
    //js版本url生成函数
    var webmodel = {};

    wp_pages_global_func($.extend({
        'isedit': '0',
        'islogin': '0',
        'domain': 'tpl-c325d7b',
        'p_rooturl': 'https://agriculture-448.view.websiteonline.cn',
        'static_rooturl': 'https://static.websiteonline.cn/website',
        'interface_locale': "zh_CN",
        'dev_mode': "0",
        'getsession': ''
    }, {"phpsessionid":"","punyurl":"https:\/\/agriculture-448.view.websiteonline.cn","curr_locale":"zh_CN","mscript_name":"","converted":false}));

</script>

<link href="/assets/site1/css/c5b30ba973206451f77dbe2731c9113b.css" rel="stylesheet"><div id="page_set_css">
</div><input type="hidden" id="page_id" name="page_id" value="89" rpid="89">
<div id="scroll_container" class="scroll_contain" style="">
    <div id="scroll_container_bg" style=";">&nbsp;</div>
    <script>
        initScrollcontainerHeight();
    </script>
    <div id="overflow_canvas_container">        <div id="canvas" style=" margin: 0 auto;width:1200px;;height:1210px">
        {include file="common/menu" /}
        <script>
            $(".content_copen").live('click',function(){
                $(this).closest(".full_column").hide();
            });
            var $fullwidth=$('#layerE824EBBF7C74E7D061015D13611C18B2 .full_width');
            $fullwidth.css({left:0-$('#canvas').offset().left+$('#scroll_container').offset().left-$('#scroll_container').scrollLeft()-$.parseInteger($('#canvas').css("borderLeftWidth")),width:$('#scroll_container_bg').width()});
            $(function () {
                var videoParams={"id":"layerE824EBBF7C74E7D061015D13611C18B2","bgauto":null,"ctauto":null,"bVideouse":null,"cVideouse":null,"bgvHeight":null,"bgvWidth":null};
                fullcolumn_bgvideo_init_func(videoParams);
            });
        </script>


        <div id='layerD2D598B2CB4FB3EEFBF5BF4F80DBB520' type='unslider' class='cstlayer' style='left: 0px; top: 101px; position: absolute; z-index: 111; width: 1200px; height: 400px; opacity: 1;' mid="" deg='0'><style>
            #layerD2D598B2CB4FB3EEFBF5BF4F80DBB520html5zoo-1{
                margin:0 auto;
            }
        </style>
            <div id="layerD2D598B2CB4FB3EEFBF5BF4F80DBB520_content" class="wp-unslider_content" style="overflow: hidden; border: none; left: -351.5px; width: 1903px; height: 400px; position: absolute;">
                <script type="text/javascript">

                </script>

                <!-- loop star -->
                <div id="layerD2D598B2CB4FB3EEFBF5BF4F80DBB520html5zoo-1">
                    <ul class="html5zoo-slides" style="display:none;">

                        <li><img alt="" src="/assets/site1/picture/bann4.jpg" class="html5lightbox"></li>

                        <li><img alt="" src="/assets/site1/picture/bann7.jpg" class="html5lightbox"></li>

                        <li><img alt="" src="/assets/site1/picture/bann5.jpg" class="html5lightbox"></li>
                    </ul>
                </div>
                <!-- loop end -->

                <script language="javascript">
                    (function(){
                        var layerparams={"layerid":"layerD2D598B2CB4FB3EEFBF5BF4F80DBB520","pstyle":"none","plborder_size":"0","interval":5000,"autoplays":"true","title_size":"40","title_family":"SimSun","title_color":"#FFFFFF","easing":"fade","show_title":"1","show_nav":"0","navigation_style":"03","navbg_hover_color":"#6aa84f","nav_margin_bottom_size":"25","nav_arrow":"1","arrow_left":"template\/default\/images\/left_arrow.png","arrow_right":"template\/default\/images\/right_arrow.png","nav_margin_left_size":"25","nav_margin_right_size":"25","skin":"02","default_show":"1","hover_show":"0","pauseonmouseover":"0","nav_arrow_w_size":"32","nav_arrow_h_size":"32"};
                        layer_unslider_init_func(layerparams);
                    })()
                </script>
            </div>
        </div><script>		         $('#layerD2D598B2CB4FB3EEFBF5BF4F80DBB520').triggerHandler('layer_ready');</script><div id="layer5AD052AFB4CC6FA6959A84A754CC13C8" class="full_column" style="width:1200px;position:absolute;top:500px;height:50px;z-index:105;">
        <div class="full_width" style="position:absolute;height:50px;background-color:#f4f4f4;background:;">		    </div>
        <div class="full_content" style="width:1200px; position:absolute;left:0;top:0;margin-left: 0px;;height:50px;">
            <div id='layerCE79A2D2A91E9FDCE7B2444FA65A06EB' type='breadcrumb' class='cstlayer' style='left: 14px; top: 16px; position: absolute; z-index: 117; width: 561px; height: 23px;' mid="" fatherid='layer5AD052AFB4CC6FA6959A84A754CC13C8' deg='0'><div class="wp-breadcrumb_content" style="width: 561px; height: 23px;">
                <div class='breadcrumb_plugin'>

                    <span class="breadcrumbtext" gzdata="gzorder"><a href="index.html" style="line-height:100%;color: rgb(0, 0, 0); font-size: 14px; line-height: 120%; font-family: Microsoft YaHei; font-weight: bold;">网站首页</a></span>
                    <span style="line-height:100%; margin-left:5px;margin-right:5px;color:rgb(67, 67, 67);font-size:12px;" class="breadcrumbfuhao">⊙</span>
                    <span class="breadcrumbtext"><a href="" style="line-height:100%;color: rgb(0, 0, 0); font-size: 14px; line-height: 120%; font-family: Microsoft YaHei; font-weight: bold;">集团概况</a></span>
                </div>
            </div>
                <script>
                    layer_breadcrumb_ready_func('layerCE79A2D2A91E9FDCE7B2444FA65A06EB', '');
                </script></div><script>		         $('#layerCE79A2D2A91E9FDCE7B2444FA65A06EB').triggerHandler('layer_ready');</script>
        </div>
    </div>
        <script>
            $(".content_copen").live('click',function(){
                $(this).closest(".full_column").hide();
            });
            var $fullwidth=$('#layer5AD052AFB4CC6FA6959A84A754CC13C8 .full_width');
            $fullwidth.css({left:0-$('#canvas').offset().left+$('#scroll_container').offset().left-$('#scroll_container').scrollLeft()-$.parseInteger($('#canvas').css("borderLeftWidth")),width:$('#scroll_container_bg').width()});
            $(function () {
                var videoParams={"id":"layer5AD052AFB4CC6FA6959A84A754CC13C8","bgauto":null,"ctauto":null,"bVideouse":null,"cVideouse":null,"bgvHeight":null,"bgvWidth":null};
                fullcolumn_bgvideo_init_func(videoParams);
            });
        </script>


        <div id="layer5E20D7F0C88139269ED531AD4D368A24" class="full_column" style="width:1200px;position:absolute;top:550px;height:660px;z-index:154;">
            <div class="full_width" style="position:absolute;height:660px;background-color:#308301;background-position:center bottom;background:;background-image:url('/assets/site1/image/cpbg.jpg');">		    </div>
            <div class="full_content" style="width:1200px; position:absolute;left:0;top:0;margin-left: 0px;;height:660px;">
                <div id='layer065E773C40870DBD8EC336723BD00A4F' type='buttons' class='cstlayer' style='left: 525px; top: 210px; position: absolute; z-index: 139; width: 150px; height: 40px;' mid="" fatherid='layer5E20D7F0C88139269ED531AD4D368A24' deg='0'><div class="wp-buttons_content" style="padding: 0px; border-color: transparent; border-width: 0px; overflow: hidden; width: 150px; height: 40px; border-style: solid;"><a href="introduction.html" class="btnarea button_btndefault-link" style="width:148px;left:0px;top:0px;height:38px;line-height:38px;">
                    <span class="button_btndefault-label">集团简介</span>
                </a><script type="text/javascript" src="/assets/site1/js/clipboard.js"></script>
                    <script language="javascript">$('#layer065E773C40870DBD8EC336723BD00A4F').layer_ready(function(){

                        var bgFlag = 0;
                        var bhFlag = 0;
                        if(bgFlag){
                            $('#layer065E773C40870DBD8EC336723BD00A4F').find('.wp-buttons_content a.btnarea ').find("span.button_btndefault-label").hide();
                        }

                        $('#layer065E773C40870DBD8EC336723BD00A4F').find('.wp-buttons_content a.btnarea').hover(function () {
                            if(bhFlag){
                                $(this).find("span.button_btndefault-label").hide();
                            }else{
                                $(this).find("span.button_btndefault-label").show();
                            }
                        },function () {
                            if(bgFlag){
                                $(this).find("span.button_btndefault-label").hide();
                            }else{
                                $(this).find("span.button_btndefault-label").show();
                            }
                        });





                    });</script>
                </div>




                </div><script>		         $('#layer065E773C40870DBD8EC336723BD00A4F').triggerHandler('layer_ready');</script><div id='layer558FFAC2B923467ECAEB74212A392CF9' type='title' class='cstlayer' style='left: 21px; top: 520px; position: absolute; z-index: 131; width: 320px; height: 84px;' mid="" fatherid='layer5E20D7F0C88139269ED531AD4D368A24' deg='0'><div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 84px; width: 320px; display: block; border-style: solid;"><div style="text-align: center;"><span style="line-height: 200%; font-family: 微软雅黑; font-size: 14px;">公司成功登陆新三板，成为西南区域**在新三板挂牌的“育繁推一体化”种子企业</span></div></div>
                <script type="text/javascript">
                    $(function(){
                        $('.wp-title_content').each(function(){
                            if($(this).find('div').attr('align')=='justify'){
                                $(this).find('div').css({'text-justify':'inter-ideograph','text-align':'justify'});
                            }
                        })
                    })
                </script>
            </div><script>		         $('#layer558FFAC2B923467ECAEB74212A392CF9').triggerHandler('layer_ready');</script><div id='layerEFAEAA362F80314C08AD7798174210AE' type='title' class='cstlayer' style='left: 526px; top: 470px; position: absolute; z-index: 126; width: 150px; height: 33px;' mid="" fatherid='layer5E20D7F0C88139269ED531AD4D368A24' deg='0'><div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 33px; width: 148px; display: block;"><div style="text-align: center;"><font face="微软雅黑"><span style="font-size: 20px;"><b>发展历程</b></span></font></div></div>
            </div><script>		         $('#layerEFAEAA362F80314C08AD7798174210AE').triggerHandler('layer_ready');</script><div id='layer11AAECF0165F3527D2F3DE0DA3793749' type='title' class='cstlayer' style='left: 20px; top: 120px; position: absolute; z-index: 108; width: 1160px; height: 72px; display: block;display:none;' mid="" fatherid='layer5E20D7F0C88139269ED531AD4D368A24' deg='0'><div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 72px; width: 1160px; display: block; border-style: solid;"><p style="text-align: center;"><font color="#434343" face="微软雅黑"><span style="font-size: 15px; line-height: 200%;">公司目前拥有控参股企业12家，业务涵盖玉米、小麦、水稻三大粮食作物等农作物种业、农药、肥料以及农业综合服务业务。公司已于2015年实现了小麦种业全国**、水稻种业全国第六、玉米种业全国第九的阶段性目标，综合实力位居中国种业第四位，已成为推动中国现代种业发展的重要力量。</span></font></p></div>
            </div><script>		         $('#layer11AAECF0165F3527D2F3DE0DA3793749').data('wopop_effects',{"effect":"fadeFromBottom","delay":0,"duration":2,"loop":0,"loop_infinite":"0"});		         $('#layer11AAECF0165F3527D2F3DE0DA3793749').triggerHandler('layer_ready');</script><div id='layerC06142944DB4F203810A89068397E82E' type='media' class='cstlayer' style='left: 111px; top: 300px; position: absolute; z-index: 113; width: 140px; height: 140px;' mid="" fatherid='layer5E20D7F0C88139269ED531AD4D368A24' deg='0'><script>
                create_pc_media_set_pic('layerC06142944DB4F203810A89068397E82E',false);
            </script>
                <div class="wp-media_content" style="overflow: hidden; width: 140px; height: 140px; border-width: 0px; border-style: solid; padding: 0px;" type="0">
                    <div class="img_over" style='overflow: hidden; border-color: transparent; border-width: 0px; position: relative; width: 140px; height: 140px;'>

                        <div class="imgloading" style="z-index:100;"> </div>
                        <a class="media_link" style="line-height:normal;" href="honer.html">
                            <img id="wp-media-image_layerC06142944DB4F203810A89068397E82E" class="img_lazy_load paragraph_image" data-original="/assets/site1/picture/Trophycup.png" type="zoom" src="/assets/site1/picture/blank.gif" style="width: 140px; height: 140px;;">
                        </a>
                    </div>

                </div>
                <script>
                    (function(){
                        layer_media_init_func('layerC06142944DB4F203810A89068397E82E',{"isedit":false,"img_src":"https:\/\/tpl-c325d7b-pic32.websiteonline.cn\/upload\/Trophycup.png","has_effects":false});
                    })()
                </script>
            </div><script>		         $('#layerC06142944DB4F203810A89068397E82E').triggerHandler('layer_ready');</script><div id='layer77D60654A368C9AF914F6DA527A74612' type='media' class='cstlayer' style='left: 951px; top: 300px; position: absolute; z-index: 128; width: 140px; height: 140px;' mid="" fatherid='layer5E20D7F0C88139269ED531AD4D368A24' deg='0'><script>
                create_pc_media_set_pic('layer77D60654A368C9AF914F6DA527A74612',false);
            </script>
                <div class="wp-media_content" style="overflow: hidden; width: 140px; height: 140px; border-width: 0px; border-style: solid; padding: 0px;" type="0">
                    <div class="img_over" style='overflow: hidden; border-color: transparent; border-width: 0px; position: relative; width: 140px; height: 140px;'>

                        <div class="imgloading" style="z-index:100;"> </div>
                        <a class="media_link" style="line-height:normal;" href="Culture.html">
                            <img id="wp-media-image_layer77D60654A368C9AF914F6DA527A74612" class="img_lazy_load paragraph_image" data-original="/assets/site1/picture/Book.png" type="zoom" src="/assets/site1/picture/blank.gif" style="width: 140px; height: 140px;;">
                        </a>
                    </div>

                </div>
                <script>
                    (function(){
                        layer_media_init_func('layer77D60654A368C9AF914F6DA527A74612',{"isedit":false,"img_src":"https:\/\/tpl-c325d7b-pic32.websiteonline.cn\/upload\/Book.png","has_effects":false});
                    })()
                </script>
            </div><script>		         $('#layer77D60654A368C9AF914F6DA527A74612').triggerHandler('layer_ready');</script><div id='layer1F2CEB7DB74A1C56BF85F7113A91AC2F' type='media' class='cstlayer' style='left: 531px; top: 300px; position: absolute; z-index: 118; width: 140px; height: 140px;' mid="" fatherid='layer5E20D7F0C88139269ED531AD4D368A24' deg='0'><script>
                create_pc_media_set_pic('layer1F2CEB7DB74A1C56BF85F7113A91AC2F',false);
            </script>
                <div class="wp-media_content" style="overflow: hidden; width: 140px; height: 140px; border-width: 0px; border-style: solid; padding: 0px;" type="0">
                    <div class="img_over" style='overflow: hidden; border-color: transparent; border-width: 0px; position: relative; width: 140px; height: 140px;'>

                        <div class="imgloading" style="z-index:100;"> </div>
                        <a class="media_link" style="line-height:normal;" href="course.html">
                            <img id="wp-media-image_layer1F2CEB7DB74A1C56BF85F7113A91AC2F" class="img_lazy_load paragraph_image" data-original="/assets/site1/picture/Leaf.png" type="zoom" src="/assets/site1/picture/blank.gif" style="width: 140px; height: 140px;;">
                        </a>
                    </div>

                </div>
                <script>
                    (function(){
                        layer_media_init_func('layer1F2CEB7DB74A1C56BF85F7113A91AC2F',{"isedit":false,"img_src":"https:\/\/tpl-c325d7b-pic32.websiteonline.cn\/upload\/Leaf.png","has_effects":false});
                    })()
                </script>
            </div><script>		         $('#layer1F2CEB7DB74A1C56BF85F7113A91AC2F').triggerHandler('layer_ready');</script><div id='layer3FBA780C1674684B8789F13152B5741E' type='title' class='cstlayer' style='left: 106px; top: 470px; position: absolute; z-index: 121; width: 150px; height: 33px;' mid="" fatherid='layer5E20D7F0C88139269ED531AD4D368A24' deg='0'><div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 33px; width: 150px; display: block;"><div style="text-align: center;"><span style="font-size: 20px; font-family: 微软雅黑;"><strong>集团荣誉</strong></span></div></div>
            </div><script>		         $('#layer3FBA780C1674684B8789F13152B5741E').triggerHandler('layer_ready');</script><div id='layer23A2A22611841BF631052D4266C9A1A2' type='title' class='cstlayer' style='left: 0px; top: 50px; position: absolute; z-index: 111; width: 1200px; height: 46px; display: block;display:none;' mid="" fatherid='layer5E20D7F0C88139269ED531AD4D368A24' deg='0'><div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 46px; width: 1200px; display: block;"><div style="text-align: center;"><font color="#000000"><span style="font-size: 36px;"><b>构筑绿色屏障 · 再造秀美山川</b></span></font></div></div>
            </div><script>		         $('#layer23A2A22611841BF631052D4266C9A1A2').data('wopop_effects',{"effect":"fadeFromBottom","delay":0,"duration":2,"loop":0,"loop_infinite":"0"});		         $('#layer23A2A22611841BF631052D4266C9A1A2').triggerHandler('layer_ready');</script><div id='layer20FBBAB0FF7FB2B632A3A31E785A6221' type='title' class='cstlayer' style='left: 441px; top: 520px; position: absolute; z-index: 119; width: 319px; height: 84px;' mid="" fatherid='layer5E20D7F0C88139269ED531AD4D368A24' deg='0'><div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 84px; width: 319px; display: block;"><div style="text-align: center;"><span style="line-height: 200%; font-family: 微软雅黑; font-size: 14px;">建成了“自主技术创新+产学研合作技术创新+开放式的技术创新”的三位一体技术创新模式。</span></div></div>
            </div><script>		         $('#layer20FBBAB0FF7FB2B632A3A31E785A6221').triggerHandler('layer_ready');</script><div id='layerD359B625F5CC23E1E3ACD1F2F6BBD850' type='title' class='cstlayer' style='left: 861px; top: 520px; position: absolute; z-index: 130; width: 320px; height: 84px;' mid="" fatherid='layer5E20D7F0C88139269ED531AD4D368A24' deg='0'><div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 84px; width: 320px; display: block; border-style: solid;"><div style="text-align: center;"><span style="line-height: 200%; font-family: 微软雅黑; font-size: 14px;">公司始终坚持“一粒种子一颗感恩的心”的营销理念和“以市场和客户为中心”的服务理念</span></div></div>
            </div><script>		         $('#layerD359B625F5CC23E1E3ACD1F2F6BBD850').triggerHandler('layer_ready');</script><div id='layer7B9A74194DA50C0A30DA7EA84C68059D' type='title' class='cstlayer' style='left: 946px; top: 470px; position: absolute; z-index: 124; width: 150px; height: 33px;' mid="" fatherid='layer5E20D7F0C88139269ED531AD4D368A24' deg='0'><div class="wp-title_content" style="word-wrap: break-word; padding: 0px; border-color: transparent; border-width: 0px; height: 33px; width: 150px; display: block;"><div style="text-align: center;"><font face="微软雅黑"><span style="font-size: 20px;"><b>企业文化</b></span></font></div></div>
            </div><script>		         $('#layer7B9A74194DA50C0A30DA7EA84C68059D').triggerHandler('layer_ready');</script>
            </div>
        </div>
        <script>
            $(".content_copen").live('click',function(){
                $(this).closest(".full_column").hide();
            });
            var $fullwidth=$('#layer5E20D7F0C88139269ED531AD4D368A24 .full_width');
            $fullwidth.css({left:0-$('#canvas').offset().left+$('#scroll_container').offset().left-$('#scroll_container').scrollLeft()-$.parseInteger($('#canvas').css("borderLeftWidth")),width:$('#scroll_container_bg').width()});
            $(function () {
                var videoParams={"id":"layer5E20D7F0C88139269ED531AD4D368A24","bgauto":null,"ctauto":null,"bVideouse":null,"cVideouse":null,"bgvHeight":null,"bgvWidth":null};
                fullcolumn_bgvideo_init_func(videoParams);
            });
        </script>


    </div>
    </div>
