<input type="hidden" value="2" name="_user_level_val">
<script type="text/javascript" language="javascript" src="/assets/site1/js/15961746.js">
</script>
<script type="text/javascript" language="javascript" src="/assets/site1/js/159349944.js">
</script>
<script type="text/javascript" language="javascript">
	//js版本url生成函数
	var webmodel = {};

	wp_pages_global_func($.extend({
				'isedit': '0',
				'islogin': '0',
				'domain': 'tpl-c325d7b',
				'p_rooturl': 'https://agriculture-448.view.websiteonline.cn',
				'static_rooturl': 'https://static.websiteonline.cn/website',
				'interface_locale': "zh_CN",
				'dev_mode': "0",
				'getsession': ''
			},
			{
				"phpsessionid": "",
				"punyurl": "https:\/\/agriculture-448.view.websiteonline.cn",
				"curr_locale": "zh_CN",
				"mscript_name": "",
				"converted": false
			}));
</script>
<link href="/assets/site1/css/ab47ac11ff41aa932285bcde768727ae.css" rel="stylesheet">
<div id="page_set_css">
</div>
<input type="hidden" id="page_id" name="page_id" value="91" rpid="100">
<div id="scroll_container" class="scroll_contain" style="">
	<div id="scroll_container_bg" style=";">
		&nbsp;
	</div>
	<script>
		initScrollcontainerHeight();
	</script>
	<div id="overflow_canvas_container">
		<div id="canvas" style=" margin: 0 auto;width:1200px;;height:1138px">
			{include file="common/menu" /}
			<script>
				$(".content_copen").live('click',
						function() {
							$(this).closest(".full_column").hide();
						});
				var $fullwidth = $('#layerE824EBBF7C74E7D061015D13611C18B2 .full_width');
				$fullwidth.css({
					left: 0 - $('#canvas').offset().left + $('#scroll_container').offset().left - $('#scroll_container').scrollLeft() - $.parseInteger($('#canvas').css("borderLeftWidth")),
					width: $('#scroll_container_bg').width()
				});
				$(function() {
					var videoParams = {
						"id": "layerE824EBBF7C74E7D061015D13611C18B2",
						"bgauto": null,
						"ctauto": null,
						"bVideouse": null,
						"cVideouse": null,
						"bgvHeight": null,
						"bgvWidth": null
					};
					fullcolumn_bgvideo_init_func(videoParams);
				});
			</script>
			<div id='layerD2D598B2CB4FB3EEFBF5BF4F80DBB520' type='unslider' class='cstlayer'
				 style='left: 0px; top: 101px; position: absolute; z-index: 111; width: 1200px; height: 400px; opacity: 1;'
				 mid="" deg='0'>
				<style>
					#layerD2D598B2CB4FB3EEFBF5BF4F80DBB520html5zoo-1{ margin:0 auto; }
				</style>
				<div id="layerD2D598B2CB4FB3EEFBF5BF4F80DBB520_content" class="wp-unslider_content"
					 style="overflow: hidden; border: none; left: -351.5px; width: 1903px; height: 400px; position: absolute;">
					<script type="text/javascript">
					</script>
					<!-- loop star -->
					<div id="layerD2D598B2CB4FB3EEFBF5BF4F80DBB520html5zoo-1">
						<ul class="html5zoo-slides" style="display:none;">
							<li>
								<img alt="" src="/assets/site1/picture/bann4.jpg" class="html5lightbox">
							</li>
							<li>
								<img alt="" src="/assets/site1/picture/bann7.jpg" class="html5lightbox">
							</li>
							<li>
								<img alt="" src="/assets/site1/picture/bann5.jpg" class="html5lightbox">
							</li>
						</ul>
					</div>
					<!-- loop end -->
					<script language="javascript">
						(function() {
							var layerparams = {
								"layerid": "layerD2D598B2CB4FB3EEFBF5BF4F80DBB520",
								"pstyle": "none",
								"plborder_size": "0",
								"interval": 5000,
								"autoplays": "true",
								"title_size": "40",
								"title_family": "SimSun",
								"title_color": "#FFFFFF",
								"easing": "fade",
								"show_title": "1",
								"show_nav": "0",
								"navigation_style": "03",
								"navbg_hover_color": "#6aa84f",
								"nav_margin_bottom_size": "25",
								"nav_arrow": "1",
								"arrow_left": "template\/default\/images\/left_arrow.png",
								"arrow_right": "template\/default\/images\/right_arrow.png",
								"nav_margin_left_size": "25",
								"nav_margin_right_size": "25",
								"skin": "02",
								"default_show": "1",
								"hover_show": "0",
								"pauseonmouseover": "0",
								"nav_arrow_w_size": "32",
								"nav_arrow_h_size": "32"
							};
							layer_unslider_init_func(layerparams);
						})()
					</script>
				</div>
			</div>
			<script>
				$('#layerD2D598B2CB4FB3EEFBF5BF4F80DBB520').triggerHandler('layer_ready');
			</script>

			<script>
				$(".content_copen").live('click',
						function() {
							$(this).closest(".full_column").hide();
						});
				var $fullwidth = $('#layer5AD052AFB4CC6FA6959A84A754CC13C8 .full_width');
				$fullwidth.css({
					left: 0 - $('#canvas').offset().left + $('#scroll_container').offset().left - $('#scroll_container').scrollLeft() - $.parseInteger($('#canvas').css("borderLeftWidth")),
					width: $('#scroll_container_bg').width()
				});
				$(function() {
					var videoParams = {
						"id": "layer5AD052AFB4CC6FA6959A84A754CC13C8",
						"bgauto": null,
						"ctauto": null,
						"bVideouse": null,
						"cVideouse": null,
						"bgvHeight": null,
						"bgvWidth": null
					};
					fullcolumn_bgvideo_init_func(videoParams);
				});
			</script>

			<script>
				$('#layerDA643D95671949ABFE8C3371887CD4E9').triggerHandler('layer_ready');
			</script>
			<div id='layer82FB95FF9A7765094C93493981DBFE23' type='box' class='cstlayer'
				 style='left: 0px; top: 570px; position: absolute; z-index: 121; width: 1200px; height: 568px;'
				 mid="" deg='0'>
				<div class="wp-box_content drop_box" style="word-wrap: break-word; padding: 0px; border-color: rgb(221, 221, 221); border-width: 1px; height: 566px; background-color: rgb(255, 255, 255); width: 1198px; border-style: solid;">
					<div id='layerACAA257CE6ABAEDF7A45C4CFE9E117FC' type='article_detail'
						 class='cstlayer' style='left: 100px; top: 40px; position: absolute; z-index: 119; width: 1000px; height: 450px;'
						 mid="" fatherid='layer82FB95FF9A7765094C93493981DBFE23' deg='0'>
						<div class="wp-article_detail_content" style="border: 0px solid transparent; overflow: hidden; width: 1000px; height: 450px; padding: 0px; background-color: transparent;">
							<script type="text/javascript">
							</script>
							<script type="text/javascript" language="javascript" src="/assets/site1/js/15825172.js">
							</script>
							<style>
								.wp-article_detail_content .artview_info{ text-align:center; margin:0
								auto; padding:10px 0 15px; line-height:21px; overflow:hidden;} .wp-article_detail_content
																							   .detail_head_title{ float:left; display:inner_block; } .wp-article_detail_content
																																					  .sourcedata{ text-align:center; margin:0 auto; line-height:21px; } .wp-article_detail_content
																																																						 .text-source-left01{ float:left; color:transparent; padding:0 15px; display:inner_block;
																																																						 } .wp-article_detail_content .text-source-left02{ float:left; text-align:left;
																																																							   padding-right:8px; display:inner_block;} .wp-article_detail_content .up_arrow{
																																																																			background-image:url(/assets/site1/image/sitestar_productdetailspage_up_a.png);
																																																																			background-repeat:no-repeat; width:11px; height:10px; display:block; float:left;
																																																																			background-color:#c2c2c2; margin-right:8px; margin-top:8px;} .wp-article_detail_content
																																																																																		 .down_arrow{ background-image:url(/assets/site1/image/sitestar_productdetailspage_down.png);
																																																																																			 background-repeat:no-repeat; width:11px; height:10px; display:block; float:left;
																																																																																			 background-color:#C2C2C2; margin-right:8px; margin-top:8px;} .wp-article_detail_content
																																																																																																		  .down_arrow_textover{ color:#048bcd;} .wp-article_detail_content .up_arrow_textover{
																																																																																																													color:#727272;} .wp-article_detail_content .shareshow{ display:none; }
								.wp-article_detail_content .artview_content .artview_detail img:not([width]){max-width:100%;}
							</style>
							<div class="artdetail_title" style="display:block;font-family:Microsoft YaHei;font-size:20px;color:#434343;font-weight:bold;text-decoration:none;">
								{$info.title}
							</div>
							<div class="artview_info" style="display:block;font-family:Microsoft YaHei;font-size:12px;color:#5A5A5A;font-weight:normal;text-decoration:none;">
								<div class="sourcedata">

									<span class="text-source-left01">
										|
									</span>
									<!--<span class="detail_head_title pub_txt_span">-->
									<!--	<span class="pub_txt">-->
									<!--		发布时间:-->
									<!--	</span>-->
									<!--	{$info.time}-->
									<!--</span>-->
									<style>
										.wp-article_detail_content .bdsharebuttonbox a{ margin:3px;} .wp-article_detail_content
																									 .editshaimg{ margin:3px;} .bdsharebuttonbox.bshare-custom a.bshare-sinaminiblog
																															   { background: url("/assets/site1/image/sha_tsinaa.png");} .bdsharebuttonbox.bshare-custom
																																														 a.bshare-sinaminiblog:hover { background-image: url("/assets/site1/image/sha_tsina.png");}
										.bdsharebuttonbox.bshare-custom a.bshare-qqim { background-image: url("/assets/site1/image/sha_sqqa.png");}
										.bdsharebuttonbox.bshare-custom a.bshare-qqim:hover { background-image:
												url("/assets/site1/image/sha_sqq.png");} .bdsharebuttonbox.bshare-custom
																						 a.bshare-weixin { background-image: url("/assets/site1/image/sha_weixina.png");}
										.bdsharebuttonbox.bshare-custom a.bshare-weixin:hover { background-image:
												url("/assets/site1/image/sha_weixin.png");} .bdsharebuttonbox a.bds_tqq_a
																							{ background-image: url("/assets/site1/image/sha_tqqa.png");} .bdsharebuttonbox
																																						  a.bds_tqq_a:hover { background-image: url("/assets/site1/image/sha_tqq.png");}
										.bdsharebuttonbox.bshare-custom a.bshare-qzone { background: url("/assets/site1/image/sha_qzonea.png");}
										.bdsharebuttonbox.bshare-custom a.bshare-qzone:hover { background-image:
												url("/assets/site1/image/sha_qzone.png");} .bdsharebuttonbox a.bds_bdhome_a
																						   { background-image: url("/assets/site1/image/sha_bdhomea.png");} .bdsharebuttonbox
																																							a.bds_bdhome_a:hover { background-image: url("/assets/site1/image/sha_bdhome.png");}
										.bdsharebuttonbox.bshare-custom a.bshare-douban { background: url("/assets/site1/image/sha_doubana.png");}
										.bdsharebuttonbox.bshare-custom a.bshare-douban:hover { background-image:
												url("/assets/site1/image/sha_douban.png");} .bdsharebuttonbox a.bds_kaixin001_a
																							{ background-image: url("/assets/site1/image/sha_kaixin001a.png");} .bdsharebuttonbox
																																								a.bds_kaixin001_a:hover { background-image: url("/assets/site1/image/sha_kaixin001.png");}
										.wp-article_detail_content .bdsharebuttonbox img{float:left;} .shareshow
																									  a{display: block;height:16px;padding-left:17px; width:auto;background-repeat:
												no-repeat;float:left;}
									</style>
									<span class="text-source-left01 shareshow">
										|
									</span>
									<span class="detail_head_title shareshow">
										分享到:
									</span>
									<div class="bdsharebuttonbox shareshow bshare-custom">
									</div>
								</div>
							</div>
							<div class="artview_content" style="display:block;font-family:Microsoft YaHei;font-size:16px;color:#5A5A5A;font-weight:normal;text-decoration:none;">
								<div class="artview_detail" setsid="article18">
									{$info.content}
									<div style="clear:both;">
									</div>
								</div>
							</div>
							<div class="artview_prev_next">
								<div style="margin-top:20px;width:100%;">
									<div style="" class="prevlist">
										<a class="prev_next_link" style="display:block;float:left;" href="19.html"
										   title="我国将建成一体化林业智慧决策平台">
				<span class="up_arrow">
				</span>
				<span class="prev_next_text prev_txt" style="display:block;float:left;margin-right: 5px;">
					上一篇：
				</span>

											{$next_artilce?$next_artilce.title:''}
										</a>
										<div style="clear:both;">
										</div>
									</div>
									<div style="" class="nextlist">
										<a class="prev_next_link" style="display:block;float:left;" href="17.html"
										   title="春播示范创高产||种中科玉505，百万现金争擂主">
				<span class="down_arrow">
				</span>
				<span class="prev_next_text next_txt" style="display:block;float:left;margin-right: 5px;">
					下一篇：
				</span>
											{$pre_article?$pre_article.title:''}
										</a>
										<div style="clear:both;">
										</div>
									</div>
								</div>
							</div>
						</div>
						<script type="text/javascript">
							$(function() {
								var layer = $('#layerACAA257CE6ABAEDF7A45C4CFE9E117FC');

								layer.find('.prevlist,.nextlist').mouseenter(function(e) {
									$(this).find('.up_arrow,.down_arrow').addClass("arrowbj");
									$(this).find('.prev_next_text,.prev_next_link').addClass("arrowfontcolor");
									$(this).css("cursor", "pointer");
								}).mouseleave(function(e) {
									$(this).find('.up_arrow,.down_arrow').removeClass("arrowbj");
									$(this).find('.prev_next_text,.prev_next_link').removeClass("arrowfontcolor");
								});

								var this_span = 0;
								var sharelen = 0;
								layer.find('.sourcedata').children("span").not(".bdsharebuttonbox").each(function() {
									if ($(this).css("display") == "none") {} else {
										var shis_spanw = $(this).outerWidth();
										this_span = this_span + shis_spanw;
									}

								})

								this_span = this_span + sharelen * 28 + 4;
								var sourcmax_width = $('.artview_info').width();
								layer.find('.sourcedata').width(this_span);
								layer.find('.sourcedata').css("max-width", sourcmax_width);

							})
						</script>
					</div>
					<script>
						$('#layerACAA257CE6ABAEDF7A45C4CFE9E117FC').triggerHandler('layer_ready');
					</script>
				</div>
			</div>
			<script>
				$('#layer82FB95FF9A7765094C93493981DBFE23').triggerHandler('layer_ready');
			</script>
		</div>
	</div>